.ocr-info-container {
  position: absolute;
  top: 10px;
  left: 10px;

  .ocr-info__icon {
    width: 20px;
    height: 20px;
    cursor: help;
  }

  .ocr-info__icon-rotate {
    animation: rotate infinite 2s linear;
  }
}


@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
