.page {
  display: flex;
  justify-content: center;

  &:not(:last-child) {
    padding-bottom: 40px;
  }

  .page__container {
    position: relative;

    .page__canvas-container {
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }

    .page__text-layer-container {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      line-height: 1.0;

      .token-container {
        color: transparent;
        position: absolute;
        white-space: pre;
        cursor: inherit;
        transform-origin: 0 0;
      }
    }
  }
}
