.annotator-container {
  position: relative;
  height: inherit;
  max-height: inherit;
  background-color: #525659;

  .annotator-pages-container {
    height: inherit;
    max-height: inherit;
    overflow-y: auto;

    .annotator-pages {
      padding: 50px 0;
    }
  }
}
